name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  CI:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        meteor-version: ['2.5.6', '2.6.1', '3.0-alpha.18'] # ? - latest meteor version
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check dependency duplications
        uses: vazco/open-standards/actions/npm-dependency-duplications/@master

      - name: Check dependency vulnerabilities
        uses: vazco/open-standards/actions/npm-dependency-vulnerabilities/@master

      - name: Install Meteor
        env:
          METEOR_VERSION: ${{ matrix.meteor-version }}
        run: curl https://install.meteor.com/?release=$METEOR_VERSION | /bin/sh

      - name: Install dependencies
        run: meteor npm install

      - name: Lint
        run: meteor npm run lint:ts

      - name: Run tests
        run: meteor npm run test:CI
